body {
    position: relative;
    padding:0; 
    margin: 0;
    height: 100%;
}

.content-container {
    min-height: 100%;
}

.content-inner-container {
    padding: 40px 0 90px;
}

footer {
    height: 90px;
    margin-top: -90px;
}

.form{
    margin: 25px auto; 
    width:30%;
}  
.title{
    color:rgb(252, 188, 71);
    text-align: center;
}

#map {
    height: 400px;
    width:100%;
    margin-top:48px;
    
  }
  .edit-comment{
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .title {
text-align: center;
}

.form-container{
    margin: 0px auto; 
    width:100%;
}

.navbar{
    color:grey;

}
.navbar-light .navbar-brand {
    color: wheat;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
 div.jumbotron{
    text-align:center;}



.show{ 
    margin-top:10px;
    text-align:center;}

    .card{
        margin-top: 47px;
    }