{% extends "layout.html" %} {% block content %}


        <div class="form container"> 
        <div class="row ">
        <h1 class="title" style="text-align: center;">Edit {{pet.name}}</h1> 
        <div style="margin: 25px auto; width:100%;">
    <form method="POST" action="" enctype=multipart/form-data>
    {{ form.hidden_tag() }}     
    <div class="form-group">
    {{ form.name(class_="input form-control", placeholder = "Pet Name") }}
    </div>              
    <div class="form-group"> 
    {{ form.status(class_="input form-control", placeholder = "Status") }}
    </div>              
    <div class="form-group">
    {{ form.location(class_="input form-control", placeholder = "Where was your pet last scene?") }}
    </div>
    <div class="form-group">
    {{ form.description(class_="input form-control", placeholder="Describe Your Pet") }}
    </div>

    <div class="form-group">
    {{ form.breed(class_="input form-control" , placeholder="Pet Breed") }}
    </div>

    <div class="form-group">
    {{ form.distinct(class_="input form-control", placeholder="Unique Property of Your Pet") }}
    </div>
    {{ form.submit(class_="button btn btn-outline-success btn-block") }}
    </form>
</div>

        </div>
</div>


<!-- <input type="text" id="lat" value="{{pet.lat}}"  />
<input type="text" id="long" value ="{{pet.long}}" /> -->
<script> 
var input = document.getElementById('location').setAttribute("readonly", true);

</script>

{% endblock %}