{% extends "layout.html" %} {% block content %}

<h2>{{pet.name}}</h2>
<div class="card mb-3">
        <img class="card-img-top" src="{{pet.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Current status:{{pet.status}}</h5>
          <p class="card-text">Description: {{pet.description}}</p>
          <p class="card-text">Last Known Location:{{pet.location}}</p>
          <p class="card-text">Owner:{{ current_user.firstname }}</p>
          <p class="card-text">Breed:{{pet.breed}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      

<section>
        <h2>Edit your pet </h2> 
        
<form method="POST" action="" novalidate>
{{ form.hidden_tag() }}
<div class="field">
{{ form.name.label }}
{{ form.name(class_="input") }}
</div>
<div class="field">
{{ form.status.label }}
{{ form.status(class_="input") }}
</div>
<div class="field">
{{ form.location.label }}
{{ form.location(class_="input") }}
</div>
<div class="field">
{{ form.image.label }}
{{ form.image(class_="input") }}
</div>
<div class="field">
{{ form.description.label }}
{{ form.description(class_="input") }}
</div>

<div class="field">
{{ form.breed.label }}
{{ form.breed(class_="input") }}
</div>

<div class="field">
{{ form.distinct.label }}
{{ form.distinct(class_="input") }}
</div>
{{ form.submit(class_="button") }}
</form>
</section>


{% endblock %}