{% extends "layout.html" %} {% block content %}
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    
    <div class="field">
    {{ form.distinct.label }}
    {{ form.distinct(class_="input") }}
    </div>
    {{ form.submit(class_="button") }}
    </form>
    </section>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="myAlert" class="alert alert-warning alert-dismissible fade show" >
    {% for message in messages %}
      <li>{{ message }}</li>    
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
</div>
  {% endif %}
{% endwith %}
<script type = "text/javascript">
    $(function(){
       $(".close").click(function(){
          $("#myAlert").alert();
       });
    });  
 </script> 
          {% endblock %}