{% extends "layout.html" %} {% block content %}
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    
    <div class="field">
    {{ form.distinct.label }}
    {{ form.distinct(class_="input") }}
    </div>
    {{ form.submit(class_="button") }}
    </form>
    </section>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

          {% endblock %}