{% extends "layout.html" %} {% block content %}
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    
    <div class="field">
    {{ form.distinct.label }}
    {{ form.distinct(class_="input") }}
    </div>
    {{ form.submit(class_="button") }}
    </form>
    </section>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
        <div id="myAlert" class="alert alert-success alert-dismissible fade show" >
        {{ message }}    
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
</div>
{% endif %}

{% if category == 'error' %}
<div id="myAlert" class="alert alert-danger alert-dismissible fade show" >
<li>{{ message }}</li>    
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button> 
</div>
{% endif %}



{% endfor %}
{% endif %}
{% endwith %}

          {% endblock %}