<!DOCTYPE html>
<html>
  <head>
    <title>PetFinder</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


     <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class ="nav-container">
        <nav role="navigation" class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;"  >
          <button id="hambNav" navbar-right class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
            <ul id ="stylingText" class="nav navbar-nav ml-auto navbar-nav float-right text-right pr-3">

            {% if current_user.is_authenticated %}

            <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout <span class="sr-only">(current)</span></a>
                </li>
                {% else %}

                <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('register')}}">Sign Up <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="{{url_for('login')}}">Login <span class="sr-only">(current)</span></a>
                      </li>
            {% endif %}
            </ul>
          </div>
        </nav>
      </div>
      <h1>{% if current_user.is_authenticated %} Hello {{current_user.username}} {%endif%}</h1>
      <input id="search_term" type="text">


        <div class="content-container">
            <p>this area will contain the main content of the page</p>
            {% block content %}



            {% endblock %}
            <p>Here is where the footer will go</p>
        </div>
        <footer class="footer is-dark columns">
            <div class="column personal-link">
                <a href="#"><i class="fas fa-cog"></i></a><p>Leo</p></div>
        </footer>
        <script>
                function activePlacesSearch(){
                var input = document.getElementById('location');
                var autocomplete = new google.maps.places.Autocomplete(input);
                }
            </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSfRX_VmQq4GZ08-qnWEM7oHi14qUO6RI&libraries=places&callback=activePlacesSearch"></script>
  </body>
</html>