<!DOCTYPE html>
<html>
  <head>
    <title>PetFinder</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

     <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
   
        <nav role="navigation" class="navbar navbar-expand-lg navbar-light" style="background-color:grey" >
            <div class ="container-fluid">  

              <div class="navbar-header">
                <a class="navbar-brand" href="/pets">PetFinder</a>
              </div>
          <button id="hambNav" navbar-right class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
            <ul id ="stylingText" class="nav navbar-nav ml-auto navbar-nav float-right text-right pr-3">

            {% if current_user.is_authenticated %}

                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('pets')}}">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('pets')}}">Signed in as {{current_user.username}}<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('logout')}}">Logout <span class="sr-only">(current)</span></a>
            </li>

                {% else %}

                <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('register')}}">Sign Up <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="{{url_for('login')}}">Login <span class="sr-only">(current)</span></a>
                      </li>
            {% endif %}
            </ul>
          </div>
        </div>
        </nav>
      <!-- <h1>{% if current_user.is_authenticated %} Hello {{current_user.username}} {%endif%}</h1> -->
      
        <div class="content-container">
            <!-- <p>this area will contain the main content of the page</p> -->
            {% block content %}



            {% endblock %}  
        </div>  
        <footer >
            <div id="footer" class="ui inverted grey vertical footer segment">  
                <div class="ui center aligned container">
                    <h4 class="ui inverted header">&copy; Copyright 2019 | All rights reserved | Leonardo Fontenette</h4>
                    <a href="https://www.facebook.com/"><i class="facebook square icon big"></i></a>
                    <a href="https://twitter.com/"><i class="twitter square icon big"></i></a>
                    <a href="https://www.linkedin.com/company/c"><i class="linkedin square icon big"></i></a>
                </div>
            </div>
        </footer>
            <script
            type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}" ></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSfRX_VmQq4GZ08-qnWEM7oHi14qUO6RI&libraries=places&callback=activePlacesSearch"></script>

        <script type="text/javascript">
            function initialize() {
                var input = document.getElementById('location');
                var autocomplete = new google.maps.places.Autocomplete(input);
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    document.getElementById('lat').value = place.geometry.location.lat();
                    document.getElementById('long').value = place.geometry.location.lng();
                    //alert("This function is working!");
                    //alert(place.name);
                   // alert(place.address_components[0].long_name);
        
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize); 
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </body>
</html>