{% extends "layout.html" %} {% block content %}
<div class="form container"> 
    <div class="row ">
    <h1 class="title" style="text-align: center;">Login </h1> 
    <div style="margin: 25px auto; width:45%;">
<form method="POST" action="" enctype=multipart/form-data>
{{ form.hidden_tag() }} 

<div class="form-group">
{{ form.email(class_="input form-control", placeholder = "Email Address") }}
</div>              
<div class="form-group"> 
{{ form.password(class_="input form-control", placeholder = "Password") }}
</div>  
{{ form.submit(class_="button btn btn-outline-success btn-block") }}
            
</form>
</div>

    </div>
</div>


{% for field in form %}
    <div class="field">
      {% if field.errors %} {% for error in field.errors %}
      <div class="notification error">{{ error }}</div>

      {% endfor %}
      {% endif %}
    {% endfor %}

{% endblock %}




