{% extends "layout.html" %} {% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% if category == 'loginsuccess' %}
        <div id="myAlert" class="alert alert-success alert-dismissible fade show" >
        {{ message }}    
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
</div>
{% endif %}

{% if category == 'petsuccess' %}
<div id="myAlert" class="alert alert-info alert-dismissible fade show" >
{{ message }} 
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button> 
</div>
{% endif %}


{% if category == 'deletepet' %}
<div id="myAlert" class="alert alert-warning alert-dismissible fade show" >
{{ message }}   
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button> 
</div>
{% endif %}



{% endfor %}
{% endif %}
{% endwith %}



<div class="container">
<header class="jumbotron show" style="margin-top:10px; text-align:center;" > 
<h1>Welcome to Pethero!</h1>
<p>Become a hero and find someone's pet!</p>
<a href="{{url_for('add_pet')}}" class="btn btn-outline-dark">Add a pet</a>



    

</header>

<div class="classify" style="text-align:center; margin-bottom:20px;"> 
<a href="{{url_for('lostpets')}}" class="btn btn-outline-dark home-page-link">View Lost Pets</a>
<a href="{{url_for('waiting_pets')}}" class="btn btn-outline-dark home-page-link">View Pets that may have been found</a>
</div>

<div class="card-deck"> 
{% for pet in pets %}
    {% if pet %}  
    <div class="col-lg-4 col-md-6"> 
<div class="card" style=" margin-bottom:30px;">
  
  
        <img class="card-img-top" src="{{pet.image_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pet.name}}</h5>
          <p class="card-text">Desc: {{pet.description}}</p>
          <p class="card-text">Status:{{pet.status}}</p>
          <!-- <p class="card-text">Last known Location:{{pet.location}}</p> -->
          <a href="{{url_for('show_pet', petid=pet.id)}}" class="btn btn-outline-primary" >Show More</a>

          {% if current_user.id == pet.user_id %}

          <a href="{{url_for('delete_pet', petid=pet.id)}}" class="btn btn-outline-danger">Delete Pet</a>
          {% endif %}  

        </div>
      </div>
      </div>

    
            {% endif %}      
            {% endfor %}  
          </div>
        </div>






{% endblock %}