{% extends "layout.html" %} {% block content %}

<div class="row">
{% for pet in pets %}
    {% if pet %}
    <div class="col-sm-4"> 
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{pet.image_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pet.name}}</h5>
          <p class="card-text">Desc:{{pet.description}}</p>
          <p class="card-text">Status:{{pet.status}}</p>
          <p class="card-text">Last known Location:{{pet.location}}</p>
          <a href="{{url_for('show_pet', petid=pet.id)}}" class="btn btn-primary">Show More</a>

          {% if current_user.id == pet.user_id %}

          <a href="{{url_for('delete_pet', petid=pet.id)}}" class="btn btn-primary">Delete Pet</a>
          {% endif %}  

        </div>
      </div>
      </div>
            {% endif %}      
            {% endfor %}
        </div>

<a href="{{url_for('add_pet')}}">Add a pet</a>




{% endblock %}