{% extends "layout.html" %} {% block content %}

{% for field in form %}
    <div class="field">
      {% if field.errors %} {% for error in field.errors %}
     <div id="myAlert" class="alert alert-danger alert-dismissible fade show" >
        {{ error }}    
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
</div>

      {% endfor %}
      {% endif %}
    {% endfor %}




<div class="form container"> 
    <div class="row ">
    <h1 class="title" >Register</h1> 
    <div class="form-container"> 
<form method="POST" action="" enctype=multipart/form-data>
{{ form.hidden_tag() }} 

<div class="form-group">  
{{ form.username(class_="input form-control", placeholder = "Username") }}
</div>              
<div class="form-group"> 
{{ form.email(class_="input form-control", placeholder = "Email") }}
</div>  
<div class="form-group">
{{ form.password(class_="input form-control", placeholder = "Password") }}
</div>              
<div class="form-group"> 
{{ form.Password2(class_="input form-control", placeholder = " Confirm Password") }}
</div> 
<div class="form-group">
{{ form.firstname(class_="input form-control", placeholder = "First name") }}
</div>              
<div class="form-group"> 
{{ form.lastname(class_="input form-control", placeholder = "Last name") }}
</div> 

{{ form.submit(class_="button btn btn-outline-success btn-block") }}
            
</form>
</div>

    </div>
</div>



{% endblock %}